/*GLOBAL*/

/*Fonts*/

/*  font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Calistoga', cursive;
*/
html,
body {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

/*body {
    opacity: 0;
}

body.all-loaded {
    opacity: 1;*/
}

/*NAV BAR*/

header .nav-bar {
    background-color: red;
    display: flex;
}

header nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 40%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

header nav a {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 300;
    font-size: 1.45em;
    z-index: 100;
    text-decoration: none;
    color: #ED1B3A;
}

header nav a:hover {
    font-weight: 400;
}

header nav a.active {
    border-bottom: 1.5px solid #ED1B3A;
}

.page-color {
    height: 766px;
    width: 100vw;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

/*.page-container {
        height: 90%;
    width: 90%;
}*/


.page-container {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px dotted gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 550px;
}

/*PAGE COLORS*/

.home-page {
    background-color: #F2DFF2;
}

.about-page {
    background-color: #FFDAC1;
}

.portfolio-page {
    background-color: #E2F0CB;
}

.resume-page {
    background-color: #B5EAD7;
}

.contact-page {
    background-color: #C7CEEA;
}

/*BIG PAGE TITLES*/

main h1 {
    text-align: right;
    margin: 0px 0px;
    /*    padding-top: 60px;
    padding-right: 100px;*/
    font-family: 'Calistoga', cursive;
    font-size: 4em;
}

/*HOME PAGE*/

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page #page-container {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px dotted gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 550px;
}

.home-page #home-title-container {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px dotted gray;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 95%;
    /*    position: relative;*/
}

.home-page h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 10em;
    color: rgba(0, 0, 0, 0);
    margin: 0;
    text-transform: uppercase;

}

.home-page #home-title {
    position: absolute;
    color: #ED1B3A;
    text-shadow: 1px 1px #F1C7DB,
        2px 2px #F1C7DB,
        3px 3px #F1C7DB,
        4px 4px #F1C7DB,
        5px 5px #F1C7DB,
        6px 6px #F1C7DB,
        7px 7px #F1C7DB,
        8px 8px #F1C7DB,
        9px 9px #F1C7DB,
        10px 10px #F1C7DB,
        11px 11px #F1C7DB,
        12px 12px #F1C7DB,
        13px 13px #F1C7DB,
        14px 14px #F1C7DB,
        15px 15px #F1C7DB,
        16px 16px #F1C7DB,
        17px 17px #F1C7DB,
        18px 18px #F1C7DB,
        19px 19px #F1C7DB,
        20px 20px #F1C7DB,
        21px 21px #F1C7DB,
        22px 22px #F1C7DB,
        23px 23px #F1C7DB,
        24px 24px #F1C7DB,
        25px 25px #F1C7DB,
        26px 26px #F1C7DB,
        27px 27px #F1C7DB,
        28px 28px #F1C7DB,
        29px 29px #F1C7DB,
        30px 30px #F1C7DB,
        31px 31px #F1C7DB,
        32px 32px #F1C7DB,
        33px 33px #F1C7DB,
        34px 34px #F1C7DB,
        35px 35px #F1C7DB,
        36px 36px #F1C7DB,
        37px 37px #F1C7DB,
        38px 38px #F1C7DB,
        39px 39px #F1C7DB,
        40px 40px #F1C7DB,
        41px 41px #F1C7DB,
        42px 42px #F1C7DB,
        43px 43px #F1C7DB,
        44px 44px #F1C7DB,
        45px 45px #F1C7DB,
        46px 46px #F1C7DB,
        47px 47px #F1C7DB,
        48px 48px #F1C7DB,
        49px 49px #F1C7DB,
        50px 50px #F1C7DB,
        51px 51px #F1C7DB,
        52px 52px #F1C7DB,
        53px 53px #F1C7DB,
        54px 54px #F1C7DB,
        55px 55px #F1C7DB,
        56px 56px #F1C7DB,
        57px 57px #F1C7DB,
        58px 58px #F1C7DB,
        59px 59px #F1C7DB,
        60px 60px #F1C7DB,
        61px 61px #F1C7DB,
        62px 62px #F1C7DB,
        63px 63px #F1C7DB,
        64px 64px #F1C7DB,
        65px 65px #F1C7DB,
        66px 66px #F1C7DB,
        67px 67px #F1C7DB,
        68px 68px #F1C7DB,
        69px 69px #F1C7DB,
        70px 70px #F1C7DB,
        71px 71px #F1C7DB,
        72px 72px #F1C7DB,
        73px 73px #F1C7DB,
        74px 74px #F1C7DB,
        75px 75px #F1C7DB,
        76px 76px #F1C7DB,
        77px 77px #F1C7DB,
        78px 78px #F1C7DB,
        79px 79px #F1C7DB,
        80px 80px #F1C7DB,
        81px 81px #F1C7DB,
        82px 82px #F1C7DB,
        83px 83px #F1C7DB,
        84px 84px #F1C7DB,
        85px 85px #F1C7DB,
        86px 86px #F1C7DB,
        87px 87px #F1C7DB,
        88px 88px #F1C7DB,
        89px 89px #F1C7DB,
        90px 90px #F1C7DB,
        91px 91px #F1C7DB,
        92px 92px #F1C7DB,
        93px 93px #F1C7DB,
        94px 94px #F1C7DB,
        95px 95px #F1C7DB,
        96px 96px #F1C7DB,
        97px 97px #F1C7DB,
        98px 98px #F1C7DB,
        99px 99px #F1C7DB,
        100px 100px #F1C7DB,
        101px 101px #F1C7DB,
        102px 102px #F1C7DB,
        103px 103px #F1C7DB,
        104px 104px #F1C7DB,
        105px 105px #F1C7DB,
        106px 106px #F1C7DB,
        107px 107px #F1C7DB,
        108px 108px #F1C7DB,
        109px 109px #F1C7DB,
        110px 110px #F1C7DB,
        111px 111px #F1C7DB,
        112px 112px #F1C7DB,
        113px 113px #F1C7DB,
        114px 114px #F1C7DB,
        115px 115px #F1C7DB,
        116px 116px #F1C7DB,
        117px 117px #F1C7DB,
        118px 118px #F1C7DB,
        119px 119px #F1C7DB,
        120px 120px #F1C7DB,
        121px 121px #F1C7DB,
        122px 122px #F1C7DB,
        123px 123px #F1C7DB,
        124px 124px #F1C7DB,
        125px 125px #F1C7DB,
        126px 126px #F1C7DB,
        127px 127px #F1C7DB,
        128px 128px #F1C7DB,
        129px 129px #F1C7DB,
        130px 130px #F1C7DB,
        131px 131px #F1C7DB,
        132px 132px #F1C7DB,
        133px 133px #F1C7DB,
        134px 134px #F1C7DB,
        135px 135px #F1C7DB,
        136px 136px #F1C7DB,
        137px 137px #F1C7DB,
        138px 138px #F1C7DB,
        139px 139px #F1C7DB,
        140px 140px #F1C7DB,
        141px 141px #F1C7DB,
        142px 142px #F1C7DB,
        143px 143px #F1C7DB,
        144px 144px #F1C7DB,
        145px 145px #F1C7DB,
        146px 146px #F1C7DB,
        147px 147px #F1C7DB,
        148px 148px #F1C7DB,
        149px 149px #F1C7DB,
        150px 150px #F1C7DB,
        151px 151px #F1C7DB,
        152px 152px #F1C7DB,
        153px 153px #F1C7DB,
        154px 154px #F1C7DB,
        155px 155px #F1C7DB,
        156px 156px #F1C7DB,
        157px 157px #F1C7DB,
        158px 158px #F1C7DB,
        159px 159px #F1C7DB,
        160px 160px #F1C7DB,
        161px 161px #F1C7DB,
        162px 162px #F1C7DB,
        163px 163px #F1C7DB,
        164px 164px #F1C7DB,
        165px 165px #F1C7DB,
        166px 166px #F1C7DB,
        167px 167px #F1C7DB,
        168px 168px #F1C7DB,
        169px 169px #F1C7DB,
        170px 170px #F1C7DB,
        171px 171px #F1C7DB,
        172px 172px #F1C7DB,
        173px 173px #F1C7DB,
        174px 174px #F1C7DB,
        175px 175px #F1C7DB,
        176px 176px #F1C7DB,
        177px 177px #F1C7DB,
        178px 178px #F1C7DB,
        179px 179px #F1C7DB,
        180px 180px #F1C7DB,
        181px 181px #F1C7DB,
        182px 182px #F1C7DB,
        183px 183px #F1C7DB,
        184px 184px #F1C7DB,
        185px 185px #F1C7DB,
        186px 186px #F1C7DB,
        187px 187px #F1C7DB,
        188px 188px #F1C7DB,
        189px 189px #F1C7DB,
        190px 190px #F1C7DB,
        191px 191px #F1C7DB,
        192px 192px #F1C7DB,
        193px 193px #F1C7DB,
        194px 194px #F1C7DB,
        195px 195px #F1C7DB,
        196px 196px #F1C7DB,
        197px 197px #F1C7DB,
        198px 198px #F1C7DB,
        199px 199px #F1C7DB,
        200px 200px #F1C7DB,
        201px 201px #F1C7DB,
        202px 202px #F1C7DB,
        203px 203px #F1C7DB,
        204px 204px #F1C7DB,
        205px 205px #F1C7DB,
        206px 206px #F1C7DB,
        207px 207px #F1C7DB,
        208px 208px #F1C7DB,
        209px 209px #F1C7DB,
        210px 210px #F1C7DB,
        211px 211px #F1C7DB,
        212px 212px #F1C7DB,
        213px 213px #F1C7DB,
        214px 214px #F1C7DB,
        215px 215px #F1C7DB,
        216px 216px #F1C7DB,
        217px 217px #F1C7DB,
        218px 218px #F1C7DB,
        219px 219px #F1C7DB,
        220px 220px #F1C7DB,
        221px 221px #F1C7DB,
        222px 222px #F1C7DB,
        223px 223px #F1C7DB,
        224px 224px #F1C7DB,
        225px 225px #F1C7DB,
        226px 226px #F1C7DB,
        227px 227px #F1C7DB,
        228px 228px #F1C7DB,
        229px 229px #F1C7DB,
        230px 230px #F1C7DB,
        231px 231px #F1C7DB,
        232px 232px #F1C7DB,
        233px 233px #F1C7DB,
        234px 234px #F1C7DB,
        235px 235px #F1C7DB,
        236px 236px #F1C7DB,
        237px 237px #F1C7DB,
        238px 238px #F1C7DB,
        239px 239px #F1C7DB,
        240px 240px #F1C7DB,
        241px 241px #F1C7DB,
        242px 242px #F1C7DB,
        243px 243px #F1C7DB,
        244px 244px #F1C7DB,
        245px 245px #F1C7DB,
        246px 246px #F1C7DB,
        247px 247px #F1C7DB,
        248px 248px #F1C7DB,
        249px 249px #F1C7DB,
        250px 250px #F1C7DB,
        251px 251px #F1C7DB,
        252px 252px #F1C7DB,
        253px 253px #F1C7DB,
        254px 254px #F1C7DB,
        255px 255px #F1C7DB,
        256px 256px #F1C7DB,
        257px 257px #F1C7DB,
        258px 258px #F1C7DB,
        259px 259px #F1C7DB,
        260px 260px #F1C7DB,
        261px 261px #F1C7DB,
        262px 262px #F1C7DB,
        263px 263px #F1C7DB,
        264px 264px #F1C7DB,
        265px 265px #F1C7DB,
        266px 266px #F1C7DB,
        267px 267px #F1C7DB,
        268px 268px #F1C7DB,
        269px 269px #F1C7DB,
        270px 270px #F1C7DB,
        271px 271px #F1C7DB,
        272px 272px #F1C7DB,
        273px 273px #F1C7DB,
        274px 274px #F1C7DB,
        275px 275px #F1C7DB,
        276px 276px #F1C7DB,
        277px 277px #F1C7DB,
        278px 278px #F1C7DB,
        279px 279px #F1C7DB,
        280px 280px #F1C7DB,
        281px 281px #F1C7DB,
        282px 282px #F1C7DB,
        283px 283px #F1C7DB,
        284px 284px #F1C7DB,
        285px 285px #F1C7DB,
        286px 286px #F1C7DB,
        287px 287px #F1C7DB,
        288px 288px #F1C7DB,
        289px 289px #F1C7DB,
        290px 290px #F1C7DB,
        291px 291px #F1C7DB,
        292px 292px #F1C7DB,
        293px 293px #F1C7DB,
        294px 294px #F1C7DB,
        295px 295px #F1C7DB,
        296px 296px #F1C7DB,
        297px 297px #F1C7DB,
        298px 298px #F1C7DB,
        299px 299px #F1C7DB,
        300px 300px #F1C7DB,
        301px 301px #F1C7DB,
        302px 302px #F1C7DB,
        303px 303px #F1C7DB,
        304px 304px #F1C7DB,
        305px 305px #F1C7DB,
        306px 306px #F1C7DB,
        307px 307px #F1C7DB,
        308px 308px #F1C7DB,
        309px 309px #F1C7DB,
        310px 310px #F1C7DB,
        311px 311px #F1C7DB,
        312px 312px #F1C7DB,
        313px 313px #F1C7DB,
        314px 314px #F1C7DB,
        315px 315px #F1C7DB,
        316px 316px #F1C7DB,
        317px 317px #F1C7DB,
        318px 318px #F1C7DB,
        319px 319px #F1C7DB,
        320px 320px #F1C7DB,
        321px 321px #F1C7DB,
        322px 322px #F1C7DB,
        323px 323px #F1C7DB,
        324px 324px #F1C7DB,
        325px 325px #F1C7DB,
        326px 326px #F1C7DB,
        327px 327px #F1C7DB,
        328px 328px #F1C7DB,
        329px 329px #F1C7DB,
        330px 330px #F1C7DB,
        331px 331px #F1C7DB,
        332px 332px #F1C7DB,
        333px 333px #F1C7DB,
        334px 334px #F1C7DB,
        335px 335px #F1C7DB,
        336px 336px #F1C7DB,
        337px 337px #F1C7DB,
        338px 338px #F1C7DB,
        339px 339px #F1C7DB,
        340px 340px #F1C7DB,
        341px 341px #F1C7DB,
        342px 342px #F1C7DB,
        343px 343px #F1C7DB,
        344px 344px #F1C7DB,
        345px 345px #F1C7DB,
        346px 346px #F1C7DB,
        347px 347px #F1C7DB,
        348px 348px #F1C7DB,
        349px 349px #F1C7DB,
        350px 350px #F1C7DB,
        351px 351px #F1C7DB,
        352px 352px #F1C7DB,
        353px 353px #F1C7DB,
        354px 354px #F1C7DB,
        355px 355px #F1C7DB,
        356px 356px #F1C7DB,
        357px 357px #F1C7DB,
        358px 358px #F1C7DB,
        359px 359px #F1C7DB,
        360px 360px #F1C7DB,
        361px 361px #F1C7DB,
        362px 362px #F1C7DB,
        363px 363px #F1C7DB,
        364px 364px #F1C7DB,
        365px 365px #F1C7DB,
        366px 366px #F1C7DB,
        367px 367px #F1C7DB,
        368px 368px #F1C7DB,
        369px 369px #F1C7DB,
        370px 370px #F1C7DB,
        371px 371px #F1C7DB,
        372px 372px #F1C7DB,
        373px 373px #F1C7DB,
        374px 374px #F1C7DB,
        375px 375px #F1C7DB,
        376px 376px #F1C7DB,
        377px 377px #F1C7DB,
        378px 378px #F1C7DB,
        379px 379px #F1C7DB,
        380px 380px #F1C7DB,
        381px 381px #F1C7DB,
        382px 382px #F1C7DB,
        383px 383px #F1C7DB,
        384px 384px #F1C7DB,
        385px 385px #F1C7DB,
        386px 386px #F1C7DB,
        387px 387px #F1C7DB,
        388px 388px #F1C7DB,
        389px 389px #F1C7DB,
        390px 390px #F1C7DB,
        391px 391px #F1C7DB,
        392px 392px #F1C7DB,
        393px 393px #F1C7DB,
        394px 394px #F1C7DB,
        395px 395px #F1C7DB,
        396px 396px #F1C7DB,
        397px 397px #F1C7DB,
        398px 398px #F1C7DB,
        399px 399px #F1C7DB,
        400px 400px #F1C7DB,
        401px 401px #F1C7DB,
        402px 402px #F1C7DB,
        403px 403px #F1C7DB,
        404px 404px #F1C7DB,
        405px 405px #F1C7DB,
        406px 406px #F1C7DB,
        407px 407px #F1C7DB,
        408px 408px #F1C7DB,
        409px 409px #F1C7DB,
        410px 410px #F1C7DB,
        411px 411px #F1C7DB,
        412px 412px #F1C7DB,
        413px 413px #F1C7DB,
        414px 414px #F1C7DB,
        415px 415px #F1C7DB,
        416px 416px #F1C7DB,
        417px 417px #F1C7DB,
        418px 418px #F1C7DB,
        419px 419px #F1C7DB,
        420px 420px #F1C7DB,
        421px 421px #F1C7DB,
        422px 422px #F1C7DB,
        423px 423px #F1C7DB,
        424px 424px #F1C7DB,
        425px 425px #F1C7DB,
        426px 426px #F1C7DB,
        427px 427px #F1C7DB,
        428px 428px #F1C7DB,
        429px 429px #F1C7DB,
        430px 430px #F1C7DB,
        431px 431px #F1C7DB,
        432px 432px #F1C7DB,
        433px 433px #F1C7DB,
        434px 434px #F1C7DB,
        435px 435px #F1C7DB,
        436px 436px #F1C7DB,
        437px 437px #F1C7DB,
        438px 438px #F1C7DB,
        439px 439px #F1C7DB,
        440px 440px #F1C7DB,
        441px 441px #F1C7DB,
        442px 442px #F1C7DB,
        443px 443px #F1C7DB,
        444px 444px #F1C7DB,
        445px 445px #F1C7DB,
        446px 446px #F1C7DB,
        447px 447px #F1C7DB,
        448px 448px #F1C7DB,
        449px 449px #F1C7DB,
        450px 450px #F1C7DB,
        451px 451px #F1C7DB,
        452px 452px #F1C7DB,
        453px 453px #F1C7DB,
        454px 454px #F1C7DB,
        455px 455px #F1C7DB,
        456px 456px #F1C7DB,
        457px 457px #F1C7DB,
        458px 458px #F1C7DB,
        459px 459px #F1C7DB,
        460px 460px #F1C7DB,
        461px 461px #F1C7DB,
        462px 462px #F1C7DB,
        463px 463px #F1C7DB,
        464px 464px #F1C7DB,
        465px 465px #F1C7DB,
        466px 466px #F1C7DB,
        467px 467px #F1C7DB,
        468px 468px #F1C7DB,
        469px 469px #F1C7DB,
        470px 470px #F1C7DB,
        471px 471px #F1C7DB,
        472px 472px #F1C7DB,
        473px 473px #F1C7DB,
        474px 474px #F1C7DB,
        475px 475px #F1C7DB,
        476px 476px #F1C7DB,
        477px 477px #F1C7DB,
        478px 478px #F1C7DB,
        479px 479px #F1C7DB,
        480px 480px #F1C7DB,
        481px 481px #F1C7DB,
        482px 482px #F1C7DB,
        483px 483px #F1C7DB,
        484px 484px #F1C7DB,
        485px 485px #F1C7DB,
        486px 486px #F1C7DB,
        487px 487px #F1C7DB,
        488px 488px #F1C7DB,
        489px 489px #F1C7DB,
        490px 490px #F1C7DB,
        491px 491px #F1C7DB,
        492px 492px #F1C7DB,
        493px 493px #F1C7DB,
        494px 494px #F1C7DB,
        495px 495px #F1C7DB,
        496px 496px #F1C7DB,
        497px 497px #F1C7DB,
        498px 498px #F1C7DB,
        499px 499px #F1C7DB,
        500px 500px #F1C7DB,
        501px 501px #F1C7DB,
        502px 502px #F1C7DB,
        503px 503px #F1C7DB,
        504px 504px #F1C7DB,
        505px 505px #F1C7DB,
        506px 506px #F1C7DB,
        507px 507px #F1C7DB,
        508px 508px #F1C7DB,
        509px 509px #F1C7DB,
        510px 510px #F1C7DB,
        511px 511px #F1C7DB,
        512px 512px #F1C7DB,
        513px 513px #F1C7DB,
        514px 514px #F1C7DB,
        515px 515px #F1C7DB,
        516px 516px #F1C7DB,
        517px 517px #F1C7DB,
        518px 518px #F1C7DB,
        519px 519px #F1C7DB,
        520px 520px #F1C7DB,
        521px 521px #F1C7DB,
        522px 522px #F1C7DB,
        523px 523px #F1C7DB,
        524px 524px #F1C7DB,
        525px 525px #F1C7DB,
        526px 526px #F1C7DB,
        527px 527px #F1C7DB,
        528px 528px #F1C7DB,
        529px 529px #F1C7DB,
        530px 530px #F1C7DB,
        531px 531px #F1C7DB,
        532px 532px #F1C7DB,
        533px 533px #F1C7DB,
        534px 534px #F1C7DB,
        535px 535px #F1C7DB,
        536px 536px #F1C7DB,
        537px 537px #F1C7DB,
        538px 538px #F1C7DB,
        539px 539px #F1C7DB,
        540px 540px #F1C7DB,
        541px 541px #F1C7DB,
        542px 542px #F1C7DB,
        543px 543px #F1C7DB,
        544px 544px #F1C7DB,
        545px 545px #F1C7DB,
        546px 546px #F1C7DB,
        547px 547px #F1C7DB,
        548px 548px #F1C7DB,
        549px 549px #F1C7DB,
        550px 550px #F1C7DB,
        551px 551px #F1C7DB,
        552px 552px #F1C7DB,
        553px 553px #F1C7DB,
        554px 554px #F1C7DB,
        555px 555px #F1C7DB;

}

.home-page #home-title-outline {
    position: absolute;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transform: translate(-4px, -3px);

}

.home-page #home-subtitle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px dotted gray;
    height: 300px;
    width: 95%;
    z-index: 1;
}

.home-page #home-main-subtitle {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px dotted gray;
    width: 35%;

}

#home-subtitle-container h3 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2em;
    text-align: end;

}

#home-subtitle-container h3 span {
    color: red;

}

.home-page #home-sub-subtitle {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px dotted gray;
    width: 65%;
}

/*ABOUT PAGE*/

.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*PORTFOLIO PAGE*/

.portfolio-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*RESUME PAGE*/

.resume-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.resume-page #page-container {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px dotted gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 550px;
}*/

/*CONTACT PAGE*/

.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*#page-container {
    height: 80%;
    display: flex;
    background: orange;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}*/

.contact-page form {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px dotted gray;
    justify-content: space-between;
    width: 60%;
}

form #name,
form #email {
    display: block;
    width: 90%;
    margin: 0 auto;
}

input {
    height: 30px;
    border: none;
}

input:focus {
    outline: none;
    border-top: 2px solid red;
}

form #hello-btn {
    background-color: white;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.1em;
    border: none;
    color: #ED1B3A;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    border-radius: 100px;
    width: 30%;
    text-align: center;
}

form #hello-btn:hover {
    background-color: #ED1B3A;
    color: white;
}

.contact-page form textarea {
    width: 90%;
    resize: none;
    border: none;
}


.contact-page form textarea:focus {
    outline: none;
    border-top: 2px solid red;
}

footer {
    align-items: flex-end;
    /*    align-items: center;*/
}